* {
	box-sizing: border-box;
}

header{
    width: 100%;
    font-weight: 100;
    height: 400px;
    background: -webkit-linear-gradient(to right, #434343bb, #000000bb), url(img/imagen1.jpg);
    background: linear-gradient(to right, #434343bb, #000000bb), url(img/imagen1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

body {
	font-family: 'Roboto';
	background: black;
}

header .textos-header{
    display: flex;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.textos-header h1{
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

.textos-header h2{
    font-size: 40px;
    font-weight: 300;
    color: white;
}

.wave{
    position: absolute;
    bottom: 0%;
    width: 100%;
}

/*Parte superior*/

.contenedor-sobre-smm{
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.streaming{
    display: flex;
}

main {
	width: 100%;
	margin: auto;
}

.info {
    color: white;
    font-size: small;
    text-align: center;
}
